<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sivhabu.ekhack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.NearbyHospitalsActivity" />
        <activity android:name=".pages.IndoorNavigationActivity" />
        <activity android:name=".pages.NearbyAmbulanceActivity" />
        <activity android:name=".pages.QRScannerActivity" />
        <activity android:name=".pages.BookAppointmentActivity" />
        <activity android:name=".pages.PreviousMedicalCondition" />
        <activity android:name=".pages.ProfileActivity" />
        <activity android:name=".pages.TrackAmbulanceActivity" />
        <activity android:name=".pages.LogInActivity" />
        <activity android:name=".pages.FeedbackActivity"></activity>
    </application>

</manifest>